/*
Theme Name: Citadel Web Helpdesk
Theme URI: http://citadel.edu/web/
Author: The Citadel Webmaster
Author URI: http://citadel.edu/web/
Description: Theme for The Citadel's Webmaster Ticketing System and Helpdesk. Development started in May 2019.
Version: 1.0.0
Text Domain: citadel-web-ticketing
Tags: one-column, two-columns, flexible-header, accessibility-ready, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, sticky-post, theme-options, threaded-comments, translation-ready
*/

/*
----------
Color Palette
----------
*/

/*
Citadel Blue: 	#3975B7
Navy Blue: 		#1F3A60
Darker Blue: 	#1A3152
PT Barracks:	#CEC7BF
Shako: 			#282E36

*/

/*
----------
Default Styles
----------
*/

* {
	box-sizing: border-box;
}

body,
html {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 100%;
	position: relative;
	width: 100%;
	height: 100%;
	color: #282E36;
}

body {
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #1F3A60;
	font-family: 'Open Sans', serif;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 27px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 17px;
}

a {
	color: #3975B7;
	text-decoration: none;
}

a:hover {
	color: #1F3A60;
	text-decoration: underline;
}

img {
	border: none;
}

hr {
	border: none;
	border-top: 1px solid #CEC7BF;
}

input,
textarea {
	border: 1px solid #CEC7BF;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

button {
	color: #fff;
	background-color: #3975B7;
	cursor: pointer;
	border: 1px solid #3975B7;
}

button:hover {
	color: #3975B7;
	background-color: #fff;
}

.entry-content button {
	font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
}

::moz-selection {
	background: #3975B7;
	color: #fff;
}

::selection {
	background: #3975B7;
	color: #fff;
}

.wrapper {
	position: relative;
}

.skip, .skip:hover, .skip:visited {
	position: absolute;
	display: inline-block;
	left: 0;
	top: -5000px;
	width: 1px;
	height: 1px;
	overflow: hidden;
	background-color: #fff;
	text-decoration: none;
	padding: 10px 15px;
}

.skip:focus, .skip:active {
	top: 0px;
	width: auto;
	height: auto;
	z-index: 999;
}

.container {
	max-width: 1160px;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0 auto;
	width: 100%;
	overflow: hidden; 
}

.mobile {
	display: none;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}

.nowrap {
	white-space: nowrap;
}

/*
----------
Header Styles
----------
*/

#main-header {
	background-color: #1F3A60;
}

#main-header .header-img img {
	max-width: 200px;
}

#citadel-heading {
	display: table;
}

.header-img {
	display: table-cell;
	vertical-align: middle;
}

.right-header {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

.right-header li {
	display: inline-block;
}

.right-header a {
	color: #fff;
	margin-left: 15px;
	font-weight: bold;
	text-transform: uppercase;
}

.right-header a:hover {
	color: #fff;
	text-decoration: underline;
}

/*
----------
Page Styles
----------
*/

#main {
	margin-bottom: 3em;
}

#page > .search-form {
	width: 100%;
	max-width: 1160px;
    margin: 1.5em auto;
    padding: 0 30px 1.5em;
    border-bottom: 1px solid #CEC7BF;
    position: relative;
}

#page > .search-form label {
    width: 0;
    overflow: hidden;
    height: 0;
    position: absolute;
    left: -10000%;
}

#page > .search-form .search-field {
	width: 100%;
    padding: 5px 55px 5px 5px;
    font-size: 1.15em;
}

#page > .search-form .search-submit {
    position: absolute;
    top: 0;
    right: 30px;
    padding: 5px 15px;
    font-size: 1.15em;
}

/*
----------
Homepage
----------
*/

.category-group {
	width: 100%;
}

.main-category {
    margin-bottom: 1em;
}

.category-group ul a {
	display: block;
}

.category-group .main-category h2 {
	font-size: 1em;
	margin: 0;
}

.category-group .main-category h2 a {
	font-size: 1.5em;
	color: #282E36;
}

.category-group .sub-category {
	padding: 0;
    list-style: none;
    width: calc(33% - 2em);
    margin: 1em;
    display: inline-block;
    vertical-align: top;
}

.category-group .sub-category > li > a {
	font-size: 1.15em;
	color: #282E36;
	margin-bottom: .25em;
}

.category-group .posts {
	padding-left: 1.25em;
}

/*
----------
Post
----------
*/

#primary {
	max-width: 800px;
	margin: 0 auto;
	padding: 0;
}

#primary.admin-view {
	max-width: 100%;
}

.entry-title {
	margin: 0;
	text-align: center; 
}

.modified-time {
	font-size: .7em;
    margin-bottom: 3em;
	text-align: center; 
}

.breadcrumb {
	font-size: .7em;
    margin-bottom: 3px;
	text-align: center; 
}

.archive .breadcrumb {
	text-align: left;
}

.breadcrumb i {
	margin: 0 5px;
}

.wp-block-image {
	margin: 2em 0;
}

.wp-block-image figure {
	margin-top: 0;
	margin-bottom: 0;
}

.wp-block-image figcaption {
	margin: 0;
	font-style: italic;
}

.related {
	margin-top: 60px;
	padding: 30px 0;
	text-align: center;
	border-top: 1px solid #CEC7BF;
}

.related h3 {
	margin-top: 0;
	margin-bottom: .5em;
}

.related h3 i {
	margin: 0 5px;
}

.related ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.related ul a {
	padding: 5px 10px;
	display: block;
}

.archive h1 {
	margin: 0;
}

.search-item {
	text-align: center;
}

.search-item h2 {
	margin-bottom: 0
}

.search-item p {
	margin-top: .5em;
}

/*
----------
Tickets
----------
*/

.post-type-archive-citadel_ticket #page > .search-form,
.page-template-submitticket #page > .search-form,
.tax-ticket_categories #page > .search-form,
.tax-ticket_types #page > .search-form {
	display: none;
}

body.post-type-archive-citadel_ticket #main-header,
body.ticketing #main-header,
body.page-template-submitticket #main-header,
body.tax-ticket_categories #main-header,
body.tax-ticket_types #main-header {
    margin-bottom: 2.5em;
}

#main.ticket .entry-title {
	margin-bottom: 1em;
}

#main.ticket .ticket-details {
	float: right;
	margin-left: 2em;
	margin-bottom: 1em;
}

#main.ticket .ticket-details table {
	width: 100%;
	max-width: 300px;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: #ffffff;
	font-size: .9em;
}

#main.ticket .ticket-details tr {

}

#main.ticket .ticket-details tr:nth-child(odd) {
	background-color: rgba(206, 199, 191, .25);
}

#main.ticket .ticket-details td {
	padding: 5px 8px;
	border: 1px solid #CEC7BF;
}

#main.ticket .ticket-details td:nth-child(1) {
	font-weight: bold;
}

#main.ticket .ticket-details td:nth-child(2) {
	text-align: center;
}

.all-tickets {
	margin: 0;
    font-size: .75em;
    font-weight: bold;
}

.submit-ticket-link {
	font-weight: bold;
	text-align: center;
}

.ticket-stats,
.pagination {
	text-align: center;
	font-size: .75em;
	margin: .5em 0;
}

.ticket-stats span,
.pagination > span,
.pagination > a {
	white-space: nowrap;
	margin: 0 5px;
}

.ticket-id {
	font-weight: bold;
	text-align: center;
	font-size: .9em;
	color: #CEC7BF;
	margin: 0;
}

.submitter-count {
	clear: both;
	padding-top: 1em;
}

.submitter-count h4 {
	margin-top: 0;
    padding-top: 1.33em;
    border-top: 1px solid #CEC7BF;
}

#ticketTable {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #CEC7BF;
	text-align: center;
	background-color: #ffffff;
	font-size: .8em;
}

#ticketTable th {
	background-color: rgba(206, 199, 191, .5);
	border: 1px solid #CEC7BF;
	padding: 5px;
}

#ticketTable tbody tr:nth-child(even) {
	background-color: rgba(206, 199, 191, .25);
}

#ticketTable tr.open,
#main.ticket .ticket-details .open {
	font-weight: bold;
}

#ticketTable tr.resolved,
#ticketTable tr.closed,
#ticketTable tr.resolved a,
#ticketTable tr.closed a,
#main.ticket .ticket-details .resolved,
#main.ticket .ticket-details .closed {
	color: #CEC7BF;
}

#ticketTable tr.active,
#ticketTable td.edited {
	background-color: rgba(205, 163, 31, .25) !important;
}

#ticketTable .number {
	min-width: 70px;
}

#ticketTable .date {
	min-width: 100px;
}

#ticketTable .subject {
	min-width: 250px;
}

#ticketTable .status {
	min-width: 100px;
}

#ticketTable td {
	border: 1px solid #CEC7BF;
	padding: 5px;
}

#ticketTable td select {
	width: 100%;
}

#ticketTable .edit-tickets td {
	background-color: #fff;
	border: 1px solid #fff;
}

#ticketTable .edit-tickets button {
	width: 100%;
	font-size: .8em;
	padding: 5px;
	display: none;
}

#submitTicket {
	text-align: center;
	margin-bottom: 2em;
}

#submitTicket .form-info {
	font-size: .9em;
	font-style: italic;
}

#submitTicket label {
	display: block;
	font-weight: bold;
	margin-bottom: .5em;
}

#submitTicket input,
#submitTicket textarea,
#submitTicket select,
#submitTicket option {
	width: 100%;
	padding: 10px;
	font-size: 1em;
	max-width: 500px;
	margin-bottom: 1em;
	text-align: center;
}

#submitTicket textarea {
	min-height: 100px;
	text-align: left;
}

#submitTicket small {
	margin-bottom: .5em;
	display: block;
}

#submitTicket #website {
	display: none;
}

/*
----------
Footer
----------
*/

#footer {
	color: #fff;
	background-color: #3975B7;
	padding: 10px 15px;
	text-align: center;
	font-size: .8em;
	width: 100%;
	bottom: 0;
	display: none;
}

#footer a,
#footer a:hover {
	color: #fff;
}

/*
----------
Responsive Styles
----------
*/

@media screen and (max-width: 776px) {
	.admin-view .table-container {
		overflow-x: scroll;
	}
}

@media screen and (max-width: 476px) {
	.header-img,
	.right-header {
		display: block;
		text-align: center;
	}

	.right-header {
		margin-bottom: 10px;
	}

	.right-header a {
		margin: 0 10px;
	}

	.table-container {
		overflow-x: scroll;
	}

	#main.ticket .ticket-details {
		float: none;
		margin-left: 0;
	}

	#main.ticket .ticket-details table {
		width: 100%;
		max-width: 100%;
	}
}

/*
----------
Print Styles
----------
*/

@media print {
	
}